html
body
head
div.main
 h2 Zuiderzee reservering
 h3 Bericht van de website
 table
  caption Formulier
  tr
   td 
  tr
   td Name #{body.name}
  tr
   td phone #{body.phone}
  tr
   td email #{body.email}
  tr
   td Aantal personen #{body.people}
  tr
   td Aantal dagen #{body.days}
  tr
   td Vertrek datum #{body.departure}
  tr
   td.pre Opmerkingen #{body.comments}
 div.footer This form was send from #{headers.origin}

